# Ignore vendor directory
/vendor

# Ignore node_modules directory
/node_modules

# Ignore .env file, which contains sensitive configuration data
.env

# Ignore the storage/framework directory
/storage/framework

# Ignore the public/storage directory
/public/storage

# Ignore any log files
/storage/*.log

# Ignore compiled assets
/public/mix-manifest.json
/public/css/
/public/js/

# Ignore Laravel Passport encryption keys
/storage/oauth-private.key
/storage/oauth-public.key

# Ignore user-specific PHPStorm project settings
/.idea
/.phpstorm.meta.php